.footnotes {
  color: var(--text-600);
  clear: both;
  font-size: var(--fs--1);
  margin-block: var(--space-xl) var(--space-m);

  @include desktop {
    margin-block-start: 0;
  }

  &::before {
    background: var(--bg-400);
    content: '';
    display: block;
    margin-block: var(--space-2xs);
    height: 2px;
    width: 30%;
  }
}

.footnotes__list {
  padding-inline-start: 1em;
}
