.footnotes {
  color: var(--text-600);
  font-size: var(--fs--1);

  &::before {
    background: var(--bg-400);
    content: '';
    display: block;
    margin-block: var(--space-2xs);
    height: 2px;
    width: 30%;
  }
}

.footnotes__list {
  padding-inline-start: 1em;
}