.image {
  margin-block: var(--space-s);
  position: relative;

  @include desktop {
    margin-block: 0;
  }

  picture {
    display: contents;
  }
}

.image__note {
  align-items: center;
  background: var(--bg-400);
  display: inline-flex;
  justify-content: center;
  height: 1.5em;
  position: absolute;
  right: 0;
  top: 0;
  width: 1.5em;
}

.image__asset {
  background-color: var(--bg-400);
  width: 100%;
}

.image__figcaption {
  color: var(--text-600);
  font-size: var(--fs--1);
}

.image__figcaption:not(:empty) {
  margin-block-start: var(--space-3xs);
}

.image--inline {
  .image__asset {
    object-fit: contain;
  }
}

.image--block {
  .image__asset {
    object-fit: cover;
  }
}

@include desktop {
  .image--right {
    float: right;
  }

  .image--left {
    float: left;
  }

  .image--inline {
    .image__asset {
      margin-left: auto;
      margin-right: auto;
      object-fit: cover;
    }
  
    .image__figcaption {
      min-width: 100%;
      width: 0;
    }
  }

  .image--block {
    .image__asset {
      display: block;
      object-fit: cover;
    }
  }

  .image--inline.image--right {
    margin-inline-start: var(--space-s);
  }

  .image--inline.image--left {
    margin-inline-end: var(--space-s);
  }

  .image--inline {
    max-width: 50%;
  }
}