.poem {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  justify-content: space-between;
  margin-inline: auto;
  width: fit-content;

  @include desktop {
    justify-content: start;
    margin-inline: unset;
    width: auto;
  }

  .poem-title {
    margin: 0;
  }
}

.poem-content {
  display: inline-flex;
  flex-wrap: wrap;
  gap: var(--space-m);
  justify-content: space-between;
}

.poem-title {
  display: inline-block;
  font-size: var(--fs-1);
  line-height: 1.2;
  margin-block-end: var(--space-m);
}

.poem__text {
  display: inline-block;
  line-height: 2.5rem;
  white-space: pre;

  &[lang="ja"] {
    font-style: normal;
    text-orientation: upright;
    writing-mode: vertical-rl;
  }

  p {
    margin: 0;
  }
}


.poem-author {
  font-style: italic;
  width: fit-content;
}

