.nav {
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text-600);
  display: flex;
  flex-wrap: wrap;
  margin-block-start: var(--space-xs);
  position: relative;
  z-index: 0;
}

.nav__skip {
  background-color: inherit;
  position: absolute;
  transform: translateY(-200%);
  z-index: 1;
}

.nav__skip:focus {
  display: inline-block;
  transform: translateY(0);
  animation: slideInDown 750ms var(--ease-ease-out-expo);
  animation-fill-mode: forwards;
}

.nav__logo {
  display: inline-block;
  height: var(--fs-1);
  margin-inline: var(--space-2xs);
}

.nav__link {
  color: inherit;
  display: block;
  text-decoration: none;
}

.nav__link--active {
  font-weight: 700;
}

.nav__toggle {
  color: var(--text-600);
  display: flex;
  margin-inline-start: auto;
}

.nav__toggle:hover,
.nav__link:hover {
  color: var(--text-900);
  cursor: pointer;
}

.nav__toggle[aria-expanded="true"] {
  color: var(--text-purple-600);
  pointer-events: none;
}

.nav__list {
  background-color: inherit;
  display: none;
  list-style-type: none;
  padding: 0;
  position: relative;
  width: 100%;
}

:where(.nav__toggle[aria-expanded="true"]) + .nav__list  {
  animation: slideInDown 250ms var(--ease-ease-out-expo);
  display: block;
  position: absolute;
  top: 100%;
  z-index: -1;
}

@media screen and (min-width: 50em) {
  .nav__link {
    display: inline-block;
  }

  .nav__toggle {
    display: none;
  }

  .nav__list {
    display: inline-flex;
    margin-inline-start: auto;
    gap: var(--space-s);
    width: auto;
  }
}
