.select-language {
  --select-language-width: var(--btn-icon-size);

  border: 0;
  display: inline-grid;
  place-items: center;
}

.select-language__icon,
.select-language__input {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  width: var(--select-language-width);
}

.select-language__input {
  appearance: none;  
  border: 0;
  padding-inline: var(--select-language-width) 0;
}

.select-language__option {
  color: var(--text-color);
}
