.theme {
  display: inline-grid;
  place-content: center;
}

.theme__icon {
  width: var(--btn-icon-size);
}

.theme__mask,
.theme__rays,
.theme__circle {
  transform-origin: center center;

  .theme:focus-within & {
    transition: transform 250ms ease-out;
  }
}

.theme__circle { transform: scale(1.5) }
.theme__rays { transform: scale(0) }
.theme__mask { transform: translate(0) }

@include darkMode {
  .theme__circle { transform: scale(1) }
  .theme__mask { transform: translate(.5rem, -.5rem) }
  .theme__rays { transform: scale(1) rotate(45deg) }
}
