body {
  accent-color: var(--accent-color);
  background-color: var(--bg-200);
  color-scheme: light dark;
  color: var(--text-900);
  display: grid;
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  font-size: var(--fs-0);
  grid-template-rows: auto 1fr auto;
  // transition: background-color 250ms ease-out;
}

main {
  margin-block-start: var(--space-l);
}

h1, h2, h3, h4, h5, h6 {
  font-size: var(--fs-1);
  font-weight: 600;
}

select {
  cursor: pointer;
  background-color: inherit;
}

option {
  background-color: var(--bg-400);
}

button {
  background: transparent;
  border: 0;
  padding: 0;
}

*:focus,
*:focus-visible {
  outline: 2px solid var(--accent-color);
}
