body {
  --bg-color: var(--bg-200);

  background-color: var(--bg-color);
  color: var(--text-900);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  font-size: var(--fs-1);
}

h1, h2, h3, h4, h5, h6 {
  font-size: var(--fs-2);
  font-weight: 600;
}

*:focus-visible {
  outline: 2px solid var(--border-blue-600);
  outline-offset: 2px;
}

button {
  background: transparent;
  border: 0;
}