.container {
  margin-inline: auto;
  width: min(100% - var(--space-2xl), 1200px);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.image {
  aspect-ratio: 16/9;
  object-fit: cover;
}

.grid-center {
  display: grid;
  place-items: center;
}

.grid-stack {
  display: grid;

  & > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  & > img {
    z-index: -1;
  }
}

.grid-even-columns {
  --grid-column-width: 500px;

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--grid-column-width), 100%), 1fr)
  );
}

.grid-auto-flow {
  display: grid;

  @media (min-width: 50em) {
    .grid-auto-flow {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }
  }
}
