---
import clsx from 'clsx';
import { useTranslation } from '@/features/i18n/useTranslation';
import { getProps } from '@/features/utils/getProps';
import Link from '@/components/Link.astro';
import Logo from '@/components/Header/Logo.astro';
import Nav from '@/components/Header/Nav.astro';
import SelectLanguage from '@/components/Header/SelectLanguage.astro';
import ToggleColorScheme from '@/components/Header/ToggleColorScheme.astro';

export interface Props {
  class?: string;
}

const t = useTranslation(Astro);
const { class: className } = getProps(Astro);

---
<header class={clsx(className, 'header')}>
  <Link to="#main-content" class="header__skip header__link hoverable">
    {t`Components.skipToMainContent`}
  </Link>

  <Link to='/' class="header__link hoverable">
    <span>{t`projectName`}</span>
    <Logo class="header__logo" />
  </Link>

  <div class="header__left js-only">
    <SelectLanguage />
    <ToggleColorScheme />
  </div>

  <Nav class="header__nav" />
</header>