---
import clsx from 'clsx';
import { useTranslation } from '@/features/i18n/useTranslation';
import Link from '@/components/Link.astro';
import Logo from '@/components/Logo.astro';
import SelectLanguage from '@/components/Header/SelectLanguage.astro';
import ThemeButton from '@/components/Header/ThemeButton.astro';

export interface Props {
  class?: string;
}

const t = useTranslation(Astro);
const { class: className } = Astro.props;

---
<header class={clsx(className, 'header')}>
  <Link href="#main-content" class="header__skip link-btn hoverable">
    {t`Components.skipToMainContent`}
  </Link>

  <Link href='/' class="link-btn hoverable">
    <span>{t`projectName`}</span>
    <Logo class="header__logo" />
  </Link>

  <div class="header__left js-only">
    <SelectLanguage />
    <ThemeButton />
  </div>
</header>