/**
      320    1140
------------------
3xs   4 	     6 	
2xs   8	      12	
xs    12	    18 	
s     16	    24 	
m     24	    36	
l     32	    48 	
xl    48 	    72 	
2xl   64  	  96
3xl   96	    144
**/

:root {
  --space-3xs: clamp(0.25rem, calc(0.20rem + 0.24vw), 0.38rem);
  --space-2xs: clamp(0.50rem, calc(0.40rem + 0.49vw), 0.75rem);
  --space-xs: clamp(0.75rem, calc(0.60rem + 0.73vw), 1.13rem);
  --space-s: clamp(1.00rem, calc(0.80rem + 0.98vw), 1.50rem);
  --space-m: clamp(1.50rem, calc(1.21rem + 1.46vw), 2.25rem);
  --space-l: clamp(2.00rem, calc(1.61rem + 1.95vw), 3.00rem);
  --space-xl: clamp(3.00rem, calc(2.41rem + 2.93vw), 4.50rem);
  --space-2xl: clamp(4.00rem, calc(3.22rem + 3.90vw), 6.00rem);
  --space-3xl: clamp(6.00rem, calc(4.83rem + 5.85vw), 9.00rem);
}