/**
      320    1140
------------------
5   39.81 	73.24 	
4   33.18	  58.59 	
3   27.65	  46.88 	
2   23.04	  37.50 	
1   19.20	  30.00 	
0   16.00	  24.00 	
-1  13.33 	19.20 	
-2  11.11	  15.36

**/
:root {
  --fs--2: clamp(0.69rem, calc(0.59rem + 0.52vw), 0.96rem);
  --fs--1: clamp(0.83rem, calc(0.69rem + 0.72vw), 1.20rem);
  --fs-0: clamp(1.00rem, calc(0.80rem + 0.98vw), 1.50rem);
  --fs-1: clamp(1.20rem, calc(0.94rem + 1.32vw), 1.88rem);
  --fs-2: clamp(1.44rem, calc(1.09rem + 1.76vw), 2.34rem);
  --fs-3: clamp(1.73rem, calc(1.26rem + 2.35vw), 2.93rem);
  --fs-4: clamp(2.07rem, calc(1.45rem + 3.10vw), 3.66rem);
  --fs-5: clamp(2.49rem, calc(1.67rem + 4.08vw), 4.58rem);
}