---
import RawLayout from '@/components/RawLayout.astro';
import Header from '@/components/Header/Header.astro'
import Footer from '@/components/Footer/Footer.astro'

interface Props {
  frontmatter: {
    class?: string;
    description?: string;
    title: string;
  }
};

const { title, class: className, description } = Astro.props.frontmatter;

---
<RawLayout title={title} description={description}>
  <Header class="container" />
  <main id="main-content" class={className}>
    <slot />
  </main>
  <Footer />
</RawLayout>
