---
import { useTranslation } from '@/features/i18n/useTranslation';
import Icon from '@/components/Icon.astro';
import Link from '@/components/Link.astro';
import Logo from '@/components/Logo.astro';

const t = useTranslation(Astro);

---
<header class="header container">
  <nav class="header__nav nav">
    <Icon name="mdi:account" />
    <Link
      to='/'
      class="nav__logo logo"
    >
      <Logo />
      <span>{t('projectName')}</span>
      <span class="sr-only">{t('Header.home')}</span>
    </Link>
    
    <ul class="nav__list">
      <li class="nav__item">
        <Link to="/entries" class="nav__link">{t('Header.entries')}</Link>
      </li>
      <li class="nav__item">
        <Link to="/intro" class="nav__link">{t('Header.intro')}</Link>
      </li>
      <li class="nav__item">
        <Link to="/about-me" class="nav__link">{t('Header.aboutMe')}</Link>
      </li>
    </ul>
  </nav>
</header>