---
import { getLangFromContext } from '@/features/i18n/getLangFromContext';
import { parseLink } from '@/features/router/parseLink';

export interface Props {
  href: string;
  hreflang?: string;
  [key: string]: any;
}

const { href, hreflang, children, ...restProps } = Astro.props;

const currentLanguage = getLangFromContext(Astro)
const url = parseLink(href, hreflang || currentLanguage);
const isExternal = url.startsWith('http');
const isDifferentLanguageLink = (
  hreflang && hreflang !== currentLanguage
);

---
<a
  {...restProps}
  href={url}
  hreflang={isDifferentLanguageLink ? hreflang : undefined}
  target={isExternal ? '_blank' : undefined}
  rel={isExternal ? 'nofollow noopener noreferrer' : undefined}
><slot /></a>
