---
import { getLangFromContext } from '@/features/i18n/getLangFromContext';
import { parseLink } from '@/features/router/parseLink';

export interface Props {
  to: string;
  lang?: string;
  [key: string]: any;
}

const { to, lang, children, ...restProps } = Astro.props;

const currentLanguage = getLangFromContext(Astro)
const url = parseLink(to, lang || currentLanguage);
const isExternal = url.startsWith('http');
const isDifferentLanguageLink = (lang && lang !== currentLanguage);

---
<a
  {...restProps}
  href={url}
  hreflang={isDifferentLanguageLink ? lang : undefined}
  target={isExternal ? '_blank' : undefined}
  rel={isExternal ? 'nofollow noopener noreferrer' : undefined}
>
  <slot />
</a>
