---
import { parseLink } from '@/features/router/parseLink';

export interface Props {
  to: string;
  lang?: string;
  [key: string]: any;
}

const { to, lang, children, ...restProps } = Astro.props;
const url = parseLink(Astro, to, lang);
const isExternal = url.startsWith('http');

---
<a {...restProps} href={url} target={isExternal ? '_blank' : undefined}>
  <slot />
</a>
