---
import { createLink } from '@/features/router/createLink';
import { getProps } from '@/features/utils/getProps';

export interface Props {
  className?: string;
  title?: string;
  to: string;
}

const { className, to, title } = getProps<Props>(Astro);
const url = await createLink(to, Astro);

---
<a class={className} href={url} title={title}>
  <slot />
</a>
