---
import dedent from 'dedent';
import { useTranslation } from '@/features/i18n/useTranslation';
import { getSlugFromContext } from '@/features/router/getSlugFromContext';
import RenderMiddleware from '@/components/RenderMiddleware.astro';
import Markdown from '@/components/Markdown.astro';
  
const t = useTranslation(Astro);
const slug = getSlugFromContext(Astro);

const rawTranslationKey = await Astro.slots.render('default');
const translationKey = `${slug}.${rawTranslationKey}`;
const content = dedent(
  t(translationKey).trim()
);

const removeParagraphWrapper = (html: string) => {
  return html.slice(3 /**<p>*/, -6 /**</p>\n*/);
}

---
<RenderMiddleware callback={removeParagraphWrapper}>
  <Markdown text={content} />
</RenderMiddleware>