---
import { getLangFromContext } from '@/features/i18n/getLangFromContext';
import { useTranslation } from '@/features/i18n/useTranslation';
import '@/styles/index.scss';

export interface Props {
  title: string;
  description?: string;
};

const t = useTranslation(Astro);
const defaultPageTitle = t('projectName');
const defaultDescription = t('projectDescription');

const {
  title,
  description = defaultDescription,
 } = Astro.props;

const pageTitle = [title, defaultPageTitle]
  .filter(Boolean)
  .join(' | ');

const pageLang = getLangFromContext(Astro);

---

<html class="no-js" id="top-of-site" lang={pageLang}>

<head>
  <meta charset="utf-8" />
  <title>{pageTitle}</title>

  <meta name="viewport" content="width=device-width" />
  <meta name="color-scheme" content="dark light" />
  <meta name="author" content="Remilia">
  <meta name="description" content={description} />

  <link rel="shortcut icon" href="/logo.svg" type="image/svg+xml">
  <script is:inline>
    const rootClass = document.documentElement.classList;
    rootClass.remove('no-js');

    const darkThemePreference = localStorage.getItem('dark');
    if (darkThemePreference !== null) {
      const prefersDarkTheme = darkThemePreference === 'true';

      rootClass.toggle('dark', prefersDarkTheme);
      rootClass.toggle('light', !prefersDarkTheme);
    }
  </script>
</head>
<body>
  <slot />
</body>

</html>