---
import { getCollection, CollectionEntry } from 'astro:content';
import BaseLayout from '@/components/BaseLayout.astro';


export const getStaticPaths = async () => {
  const allPages = await getCollection('pages');

  return allPages.map(entry => {
    const [lang, fileName] = entry.slug.split('/');
    console.log({ entry, lang, fileName });

    return {
      params: { lang, slug: fileName },
      props: { entry, lang }
    }
  })
};

const { entry } = Astro.props as { entry: CollectionEntry<'pages'> };
const { Content } = await entry.render();

---
<BaseLayout title={entry.data.title} class="container">
  <h1>{entry.data.title}</h1>
  <Content />
</BaseLayout>
