---
import { getCollection, CollectionEntry } from 'astro:content';
import { getProps } from '@/features/utils/getProps';
import BaseLayout from '@/layouts/BaseLayout.astro';


export const getStaticPaths = async () => {
  const allPages = await getCollection('pages');

  return allPages.map(entry => {
    const [lang, fileName] = entry.slug.split('/');
    console.log({ entry, lang, fileName });

    return {
      params: { lang, slug: fileName },
      props: { entry, lang }
    }
  })
};

const { entry } = getProps<{ entry: CollectionEntry<'pages'> }>(Astro);
const { Content } = await entry.render();

---
<BaseLayout class="container">
  <h1>{entry.data.title}</h1>
  <Content />
</BaseLayout>
