---
import Link from '@/components/Link.astro';
import Icon from '@/components/Icon.astro';

interface Props {
  class?: string;
};

const { class: className } = Astro.props;

---
<ul class={className} role="list">
  <li>
    <Link class="link-btn hoverable" href="mailto:k.mirellamaria@gmail.com">
      <Icon name="carbon:email" aria-hidden="true" />
      <span>Email</span>
    </Link>
  </li>
  <li>
    <Link class="link-btn hoverable" href="https://www.instagram.com/mirellakurzawa/">
      <Icon name="mdi:instagram" aria-hidden="true" />
      <span>Instagram</span>
    </Link>
  </li>
  <li>
    <Link class="link-btn hoverable" href="https://www.linkedin.com/in/mirella-kurzawa-857665197/">
      <Icon name="jam:linkedin-square" aria-hidden="true" />
      <span>LinkedIn</span>
    </Link>
  </li>
</ul>