---
import clsx from 'clsx';
import { useTranslation } from '@/features/i18n/useTranslation';
import QuickLinks from '@/components/Footer/QuickLinks.astro';
import Contact from '@/components/Footer/Contact.astro';
import Languages from '@/components/Footer/Languages.astro';
import Link from '@/components/Link.astro';

interface Props {
  class?: string;
};

const t = useTranslation(Astro);
const { class: className } = Astro.props;

const currentYear = new Date().getFullYear();
---
<footer class={clsx(className, 'footer')}>
  <div class="container footer__content">
    <section>
      <h2 class="footer__title">{t`Components.quickLinks`}</h2>
      <QuickLinks class="footer__list" />
    </section>
    <section>
      <h2 class="footer__title">{t`Components.language`}</h2>
      <Languages class="footer__list" />
    </section>
    <section>
      <h2 class="footer__title">{t`Components.contact`}</h2>
      <Contact class="footer__list" />
    </section>
    <div class="footer__bottom">
      <span class="footer__copyright">
        © {currentYear}, <Link href='https://github.com/kolodziejczak-sz'>snkj</Link>
      </span>
      <Link class="footer__go-top" href="#top-of-site">
        {t`Components.backToMainContent`}
      </Link>
    </div>
  </div>
</footer>