---
import clsx from 'clsx';
import { getProps } from '@/features/utils/getProps';
import { useTranslation } from '@/features/i18n/useTranslation';
import Contact from '@/components/Footer/Contact.astro';
import Languages from '@/components/Footer/Languages.astro';
import Link from '@/components/Link.astro';

export interface Props {
  class?: string;
};

const { class: className } = getProps<Props>(Astro);
const t = useTranslation(Astro);

const currentYear = new Date().getFullYear();
---

<footer class={clsx(className, 'footer')}>
  <div class="container footer__content">
    <section class="footer__languages">
      <h2 class="footer__title">{t`Components.language`}</h2>
      <Languages class="footer__list" />
    </section>
    <section>
      <h2 class="footer__title">{t`Components.contact`}</h2>
      <Contact class="footer__list" />
    </section>
    <div class="footer__bottom">
      <p class="footer__copyright">
        © {currentYear}, <Link to='https://github.com/kolodziejczak-sz'>snkj</Link>
      </p>
      <Link class="footer__go-top" to="#top-of-site">
        {t`Components.backToMainContent`}
      </Link>
    </div>
  </div>
</footer>
