---
import clsx from 'clsx';
import { getProps } from '@/features/utils/getProps';
import { useTranslation } from '@/features/i18n/useTranslation';
import { supportedLanguages } from '@/features/i18n/supportedLanguages';
import { getSlugFromContext } from '@/features/router/getSlugFromContext';
import Link from '@/components/Link.astro';
import Icon from '@/components/Icon.astro';

export interface Props {
  class?: string;
};

const { class: className } = getProps<Props>(Astro);
const t = useTranslation(Astro);
const slug = getSlugFromContext(Astro);

---

<footer class={clsx(className, 'footer')}>
  <div class="container footer__content">
    <div class="footer__title">{t`projectName`}</div>
    <section>
      <h2 class="footer__title">{t`Components.language`}</h2>
      <ul class="footer__list" role="list">
        {Object.entries(supportedLanguages).map(([key, name]) => (
          <li lang={key}>
            <Link class="link-btn hoverable" to={'/' + slug} lang={key}>{name}</Link>
          </li>
        ))}
      </ul>
    </section>
    <section>
      <h2 class="footer__title">{t`Components.contact`}</h2>
      <ul class="footer__list footer__list--inline" role="list">
        <li>
          <Link class="link-btn hoverable" to="mailto:some_email@gmail.com">
            <Icon name="carbon:email" aria-hidden="true" />
            <span class="sr-only">Email</span>
          </Link>
        </li>
        <li>
          <Link class="link-btn hoverable" to="https://www.instagram.com/">
            <Icon name="carbon:logo-instagram" aria-hidden="true" />
            <span class="sr-only">Instagram</span>
          </Link>
        </li>
        <li>
          <Link class="link-btn hoverable" to="https://www.linkedin.com/">
            <Icon name="carbon:logo-linkedin" aria-hidden="true" />
            <span class="sr-only">LinkedIn</span>
          </Link>
        </li>
      </ul>
    </section>
    <div class="footer__bottom">
      <p class="footer__copyright">
        © 2022, <Link to='https://github.com/kolodziejczak-sz'>snkj</Link>
      </p>
      <Link class="footer__go-top" to="#top-of-site">
        {t`Components.backToMainContent`}
      </Link>
    </div>
  </div>
</footer>