---
import { supportedLanguages } from '@/features/i18n/supportedLanguages';
import { getSlugFromContext } from '@/features/router/getSlugFromContext';
import Link from '@/components/Link.astro';

export interface Props {
  class?: string;
};

const { class: className } = Astro.props;
const slug = getSlugFromContext(Astro);

---
<ul class={className} role="list">
  <ul class="footer__list" role="list">
    {Object.entries(supportedLanguages).map(([key, name]) => (
      <li lang={key}>
        <Link
          class="link-btn hoverable"
          to={'/' + slug}
          lang={key}
          >
            {name}
          </Link>
      </li>
    ))}
  </ul>
</ul>