---
import { useTranslation } from '@/features/i18n/useTranslation';
import { getSlugFromContext } from '@/features/router/getSlugFromContext';
import Link from '@/components/Link.astro';

export interface Props {
  class?: string;
}

const t = useTranslation(Astro);
const { class: className } = Astro.props;

const navList = [
  { to: '/', text: t`Components.home` },
  { to: '/intro', text: t`Components.intro` },
  { to: '/about-me', text: t`Components.aboutMe` },
];
---
<nav aria-label={t`Components.main`}>
  <ul role="list" class={className}>
    {navList.map(({ to, text }) => {
      return (
        <li>
          <Link class="link-btn hoverable" to={to}>{text}</Link>
        </li>
      );
    })}
  </ul>
</nav> 
