---
import { getProps } from '@/features/utils/getProps';
import RawLayout from '@/layouts/RawLayout.astro';
import Header from '@/components/Header/Header.astro'

export interface Props {
  class?: string;
  title?: string;
};

const { title, class: className } = getProps<Props>(Astro);

---
<RawLayout title={title}>
  <Header class="container" />
  <main id="main-content" class={className}>
    <slot />
  </main>
</RawLayout>