---
import { getLangFromContext } from '@/features/i18n/getLangFromContext';
import { useTranslation } from '@/features/i18n/useTranslation';
import { getProps } from '@/features/utils/getProps';
import '@/styles/index.scss';

export interface Props {
  title?: string;
};

const t = useTranslation(Astro);

const { title } = getProps<Props>(Astro);
const defaultPageTitle = t`projectName`;

const pageTitle = [title, defaultPageTitle]
  .filter(Boolean)
  .join(' | ');

const pageLang = getLangFromContext(Astro);

---

<html class="no-js" id="top-of-site" lang={pageLang}>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="color-scheme" content="dark light" />
  <title>{pageTitle}</title>
  <link rel="shortcut icon" href="/logo.svg" type="image/svg+xml">
</head>

<body>
  <script is:inline>
    const rootClass = document.documentElement.classList;
    rootClass.remove('no-js');

    const darkThemePreference = localStorage.getItem('dark');
    if (darkThemePreference !== null) {
      const prefersDarkTheme = darkThemePreference === 'true';

      rootClass.toggle('dark', prefersDarkTheme);
      rootClass.toggle('light', !prefersDarkTheme);
    }
  </script>
  <slot />
</body>

</html>